<h1> This is my Index File <h1>
<h1> This is my ansible node <h1>
<h1> My ansilbe node os is:  <h1>
<h1> My ansible node IP is:  <h1>
<h1> My ansible node java version is: {{myjavapackageforubuntu}}<h1>
