<h1> This is my Index File <h1>
<h1> This is my ansible node <h1>
<h1> My ansilbe node os is: {{ansible_os_family}} <h1>
<h1> My ansible node IP is: {{ansible_all_ipv4_addresses}} <h1>
<h1> My ansible node java version is: {{myjavapackageforubuntu}}<h1>
